.lists {
    list-style: none;
}

.list {
    display: inline-block;
    margin: 20px;
}

.img > img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    border: 6px solid rgb(0, 255, 42);
}

.list > button {
    color: red;
    border-radius: 8px;
    width: 80px;
    height: 20px;
}