.control > label{
    color: rgb(122, 7, 1);
    font-size: 20px;
    display: block;
    font-weight: 600;
}

.control > input {
    color: rgb(58, 56, 56);
    height: 30px;
    border-radius: 12px;
    border: 1px solid blue;
    font-size: 20px;
    margin-bottom: 23px;
}

.controller > input {
    width: 116px;
    color: rgb(58, 56, 56);
    border-radius: 12px;
    border: 1px solid blue;
}

.controller > label {
    color: rgb(122, 7, 1);
    font-size: 20px;
    font-weight: 600;
}

.button {
    margin-top: 15px;
    font-size: 14px;
    border-radius: 15px;
    width: 100px;
    height: 25px;
    color: red;
    font-weight: 700;
    background-color: aqua;
}