.container {
    margin: 0 auto;
    background: rgb(141, 153, 154);
    text-align: center;
}

.content {
    font-size: 45px;
    font-weight: 700;
    color: rgb(37, 250, 0);
    margin-top: 0px;
}